{% raw -%}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "{% endraw %}{{app_name}}{% raw -%}.configMapName" . }}
  namespace: {{ include "{% endraw %}{{app_name}}{% raw -%}.namespace" . }}
  labels:
    {{- include "{% endraw %}{{app_name}}{% raw -%}.labels" . | nindent 4 }}
data:
{{- range $key, $val := .Values.appConfig }}
  {{ $key }}: "{{ $val }}"
{{- end }}{% endraw %}
