{% raw -%}
namespace: {{ helm_namespace }}
replicaCount: {{ helm_values.replicaCount }}
image:
  {{ helm_values.image | to_nice_yaml(indent=2) | indent(2) }}
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext:
  {{ helm_values.podSecurityContext | to_nice_yaml(indent=2) | indent(2) }}
securityContext:
  {{ helm_values.securityContext | to_nice_yaml(indent=2) | indent(2) }}
livenessProbe:
  {{ helm_values.livenessProbe | to_nice_yaml(indent=2) | indent(2) }}
readinessProbe:
  {{ helm_values.readinessProbe | to_nice_yaml(indent=2) | indent(2) }}
resources:
  {{ helm_values.resources | to_nice_yaml(indent=2) | indent(2) }}
emptyVolumes:
  {{ helm_values.emptyVolumes | to_nice_yaml(indent=2) | indent(2) }}
service:
  {{ helm_values.service | to_nice_yaml(indent=2) | indent(2) }}
ingress:
  {{ helm_values.ingress | to_nice_yaml(indent=2) | indent(2) }}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
azureKeyVault:
  secrets:
  {% for key in secret_keys %}
  - {{ key }}
  {% endfor -%}
  {{ helm_values.azureKeyVault | to_nice_yaml(indent=2) | indent(2) }}
appConfig:
  {{ helm_values.appConfig | to_nice_yaml(indent=2) | indent(2) }}
{% if helm_values.cronjobs is defined and helm_values.cronjobs | length > 0 %}
cronjobs:
  {%- for cronjob in helm_values.cronjobs %} 
  - name: {{ cronjob.name }}
    schedule: {{ cronjob.schedule | quote }}
    command:
      {{ cronjob.command | to_nice_yaml(indent=4) | indent(6) -}}
  {% endfor -%}
{% endif %}
{% endraw %}